@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <br />
    <p>C.R.U.D Movies <a href="/Movies/Index"> Go to Movies Index</a></p>
    <p>Simular Warning Editando Movie: <a href="/Movies/Edit?Id"> Simular </a></p>
    <p>Simular Error Editando Movie: <a href="/Movies/Edit?Id=999999"> Simular </a></p>
</div>